//main scss
@use 'sass:math';

.main {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #000 100%), url(/mission-03/docs/assets/mian_bg.jpg)no-repeat 0 0 / cover, lightgray 0% / cover no-repeat ;
    width: 100%;
    height: 100vh;    
}
.event-inner {
    color: var(--white);
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 197px 11.718vw 57px;

    &>p {
        font-weight: 700;
    }
    &>p:nth-of-type(1){
        font-size: 20px;
        letter-spacing: -0.03px;
        line-height: 1.5;
    }
}

.font-strong {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: clamp( 2.83em, 4vw, 3.75em);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.03px;
    & em {
        font-style: normal;
    }
}
#form-event {
    width: 100%;    
    & .event-input-group {
        display: flex;
        & .input-wrap {
            flex-grow: 1;
        }
    }

}

