.main {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, #000 100%), url(./../assets/mian_bg.jpg) no-repeat 0 0/cover, lightgray 0%/cover no-repeat;
  width: 100%;
  height: 100vh;
}
@media (max-width: 768px) {
  .main {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, #000 100%), url(./../assets/mian_bg.jpg) no-repeat 0 -50px/cover, lightgray 0%/cover no-repeat;
    padding-top: 70px;
    height: auto;
  }
}

.event-inner {
  color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  gap: 28px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 197px 11.718vw 57px;
}
@media (max-width: 768px) {
  .event-inner {
    padding: 70px 4.8vw 70px;
    background: var(--black);
  }
}
.event-inner > p {
  font-weight: 700;
  text-align: center;
}
@media (max-width: 768px) {
  .event-inner > p {
    font-weight: 400;
    font-size: 14px;
  }
}
.event-inner > p:nth-of-type(1) {
  font-size: 20px;
  letter-spacing: -0.03px;
  line-height: 1.5;
  word-break: keep-all;
  text-align: center;
}
@media (max-width: 768px) {
  .event-inner > p:nth-of-type(1) {
    font-size: 18px;
  }
}

.font-strong {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: clamp(34px, 3.125vw, 60px);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03px;
}
.font-strong em {
  font-style: normal;
}

#form-event {
  width: 100%;
}
#form-event .event-input-group {
  display: flex;
}
@media (max-width: 768px) {
  #form-event .event-input-group {
    flex-flow: column nowrap;
    align-items: center;
    gap: 12px;
  }
}
#form-event .event-input-group .input-wrap {
  flex-grow: 1;
}
@media (max-width: 768px) {
  #form-event input {
    width: 65.33vw;
    border-radius: 50px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  #form-event .button {
    width: 160px;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 40px;
    padding: 0;
  }
}
